hr {
    border-width: 4px;
    border-radius: 20px;
    border-color: #d4c8b0;
}

.home-greeting > * {
    color: var(--jet);
}

.create-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-bottom: 5rem;
}

.new-entry-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 15vw;
    height: 35vh;

    /* border: 2px solid rgba(255, 255, 255, 0.212); */

}

.clickable-icon {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 7px 2.5px rgba(0, 0, 0, 0.275);
}

.clickable-icon:hover {
    cursor: pointer;
    box-shadow: 0px 0px 4px 2.5px rgba(255, 255, 255, 0.275);
}

.new-entry-container:hover {
    cursor: pointer;
    color:rgb(236, 221, 200);
    text-shadow: 1px 1px var(--jet);
}

figcaption {
    padding-top: 0.2rem;
    font-size: larger;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 30px;
}

.icon-photo {
    background: radial-gradient(#EEE5CA 60%, rgb(0, 0, 0, 0.15))
}

.icon-photo:hover {
    background: radial-gradient(#EEE5CA, rgb(0, 0, 0, 0.25));
}

.vc-share-msg > * {
    color: var(--jet);
}

.ul-vc {
    font-size: 30px;
    text-decoration: underline;
    background: linear-gradient(to right, var(--battleship), var(--melon), var(--buff), var(--melon), var(--battleship));
}

.share-info {
    font-size: 24px;
}

.create-container-vc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-bottom: 1.5rem;
}

.vc-warning {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkred;
    text-shadow: 0.5px 0.5px red;
    margin-bottom: 1rem;
}

.new-link {
    margin-top: 1rem;
    background-color: navajowhite;
    box-shadow: 0 0 2px 1.5px rgba(180, 150, 109, 0.3);
}

.new-link:hover {
    box-shadow: 0 0 7px 2px rgba(255, 222, 173, 0.427);
    color: cornsilk;
    background-color: var(--buff);
    text-shadow: -0.75px 0.75px var(--jet);
}

.view-name {
    color: navajowhite;
    font-size: 33px;
    text-shadow: -1.5px 1.5px var(--jet);
}

.view-btn {
    margin: 2.5rem 1.2rem 2rem 1.2rem;
    background-color: navajowhite;
    box-shadow: 0 0 2px 1.5px rgba(180, 150, 109, 0.3);
}

.view-btn:hover {
    box-shadow: 0 0 7px 2px rgba(255, 222, 173, 0.427);
    color: cornsilk;
    background-color: var(--buff);
    text-shadow: -0.75px 0.75px var(--jet);
}

.header-container-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.site-logo-view {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.site-logo-view-container {
    display: flex;
    justify-content: center;
    width: 18%;
    height: 18%;
    border: 2px solid rgba(255, 255, 255, 0.212);
    box-shadow: 0px 0px 7px 2.5px rgba(0, 0, 0, 0.275);
}
