.container-login {
    width: 45vw;
}

.header-container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.site-logo-login-container {
    display: flex;
    justify-content: center;
    width: 35%;
    height: 35%;
    border: 2px solid rgba(255, 255, 255, 0.212);
    box-shadow: 0px 0px 7px 2.5px rgba(0, 0, 0, 0.275);
}

.site-logo-login {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container-login input {
    width: 25vw;
}

.form-login {
    background-color: var(--lemon-chiffon);
    border-radius: 20px;
    box-shadow: 0px 0px 15px 1.5px rgba(0, 0, 0, 0.2);
}

fieldset {
    border: none;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group-reg {
    margin-bottom: 1rem;
    display: inline-block;
}

.form-group-reg-pass {
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    display: inline-block;
}

.container-login label {
    text-align: left;
}

.reg-link {
    text-decoration: underline;
    color: navajowhite;
    text-shadow: 1px 1px black;
}

.reg-link:hover {
    color: var(--hover-wheat);
    transition-duration: 250ms;
}

.login-btn {
    margin-top: 1rem;
    background-color: navajowhite;
    box-shadow: 0 0 2px 1.5px rgba(180, 150, 109, 0.3);
}

.register-txt {
    margin-top: 1rem;
}

.bi-eye-slash {
    margin-left: 10px;
}

.bi-eye-slash:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 5px rgb(255, 255, 255, 0.25);
    background-color: rgb(255, 255, 255, 0.25);
}

.bi-eye {
    margin-left: 10px;
}

.bi-eye:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 5px rgb(255, 255, 255, 0.25);
    background-color: rgb(255, 255, 255, 0.25);
}